<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735564566496-2qpkvtc6r1m7alphmjitbe5089vi0ui0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735564566496-2qpkvtc6r1m7alphmjitbe5089vi0ui0</string>
	<key>API_KEY</key>
	<string>AIzaSyAQyB3DFqt7ZycPSsRVeKWSrxuR4zBgnGo</string>
	<key>GCM_SENDER_ID</key>
	<string>735564566496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vengoDelSuper.vengoDelSuper</string>
	<key>PROJECT_ID</key>
	<string>vengo-del-super-f33d2</string>
	<key>STORAGE_BUCKET</key>
	<string>vengo-del-super-f33d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735564566496:ios:ba124147900efb9cbda585</string>
	<key>DATABASE_URL</key>
	<string>https://vengo-del-super-f33d2.firebaseio.com</string>
</dict>
</plist>